<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=, initial-scale=1.0">

    <title>Document</title>
</head>

<body>
    <header>
        <img src="/img/logo-mercado-liebre.svg" alt="Logo Mercado Liebre">
        <div>Lugar para poner la barra de búsqueda</div>
        <br>
        <div>Comprá en cuotas y sin tarjeta de crédito</div>
        <div>
            <nav>
                <ul>
                    <li><a href="">Ofertas</a></li>
                    <li><a href="">Tiendas Oficiales</a></li>
                    <li><a href="">Vender</a></li>
                    <li><a href="">Ayuda</a></li>
                </ul>

        </div>

        <div>
            <ul>
                <li><a href="">Creá tu cuenta</a></li>
                <li><a href="">Ingresá</a></li>
                <li><a href="">Mis compras</a></li>

        </div>
        </nav>
    </header>

    <main>
        <div>
            <img src="/img/img-home-banner.jpg" alt="">
        </div>
        <section>
            <h3> Basado en tu última visita</h3>

            <div>
                <img src="/img/img-cafetera-moulinex.jpg" alt="Cafetera">
                <ol>$6.770</ol>
                <ol> 40% OFF</ol>
                <b>
                    <ol>Cafetera Moulinex</ol>
                </b>

            </div>
            <div>
                <img src="/img/img-macbook-pro-2019.jpg" alt="Macbook-pro">
                <ol>$230.000</ol>
                <ol>20% off</ol>
                <b>
                    <ol>MacBook Pro 2019</ol>
                </b>
            </div>
            <div>
                <img src="/img/img-samsung-galaxy-s10.jpg" alt="Samsung Galaxy s10">
                <ol>$70.500</ol>
                <ol>10% off</ol>
                <b>
                    <ol>Samsung Galaxy S10</ol>
                </b>
            </div>
            <div>
                <img src="/img/img-tv-samsung-smart.jpg" alt="TV Samsung Smart">
                <ol>$23.200</ol>
                <ol>5% off</ol>
                <b>
                    <ol>SmartTv Samsung 43"</ol>
                </b>
            </div>
        </section>
        <h3>Sección de Ofertas</h3>

        <div>
            <img src="/img/img-cafetera-moulinex.jpg" alt="Cafetera">
            <ol>$6.770</ol>
            <ol> 40% OFF</ol>
            <b>
                <ol>Cafetera Moulinex</ol>
            </b>

        </div>
        <div>
            <img src="/img/img-macbook-pro-2019.jpg" alt="Macbook-pro">
            <ol>$230.000</ol>
            <ol>20% off</ol>
            <b>
                <ol>MacBook Pro 2019</ol>
            </b>
        </div>
        <div>
            <img src="/img/img-samsung-galaxy-s10.jpg" alt="Samsung Galaxy s10">
            <ol>$70.500</ol>
            <ol>10% off</ol>
            <b>
                <ol>Samsung Galaxy S10</ol>
            </b>
        </div>
        <div>
            <img src="/img/img-tv-samsung-smart.jpg" alt="TV Samsung Smart">
            <ol>$23.200</ol>
            <ol>5% off</ol>
            <b>
                <ol>SmartTv Samsung 43"</ol>
            </b>
        </div>

        </section>

        <footer>

            <section>
                <h5>Pagá con tarjeta o en efectivo</h5>
                <p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en
                    puntos de pago. ¡Y siempre es seguro!</p>
            </section>

            <section>
                <h5>Envío gratis desde $ 2.500</h5>
                <p>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de
                    productos. Es un beneficio de Mercado Puntos.</p>
            </section>
            <section>
                <h5>Seguridad, de principio a fin</h5>
                <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,
                    porque estás siempre protegid@.</p>
            </section>
            <section>
                <h5>Copyright © 1999-2020 MercadoLiebre S.R.L.</h5>
            </section>
        </footer>



</body>

</html>